body {
  font-family: Verdana, sans-serif;
  background-color: #141414;
  color: rgb(216, 216, 216);
}

div.container-fluid {
  padding: 0;
}

.instruments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3em 0;
}

.title {
  display: flex;
  gap: 50px;
}

.title h1 {
  color: white;
  font-size: 1.8em;
}
.icons i:nth-child(1) {
  border: 1px solid white;
  padding: 0.1em 0.5em;
  cursor: pointer;
}

.icons i:nth-child(2) {
  border: 1px solid rgba(255, 255, 255, 0.596);
  padding: 0.1em 0.5em;
  cursor: pointer;
}

.bi {
  color: rgba(255, 255, 255, 0.596);
}
h2 {
  color: white;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 1em;
}

.footer {
  max-width: 70%;
  margin: auto;
}

.footer button {
  font-size: 0.7em;
  margin: 1.3em 0;
  padding: 0.5em 0.9em;
}

.footer p {
  font-size: 0.8em;
  margin-bottom: 0.6em;
}

.footer > p {
  font-size: 0.6em;
  margin-bottom: 1em;
}

/* PAGINA PROFILO*/

.secondLogo {
  width: 10%;
}

.profileMain {
  width: 70%;
  margin: auto;
}

.form-check-input {
  background-color: transparent;
  border: 1px solid rgb(216, 216, 216);
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
}

.form-check-input:checked {
  background-color: #141414;
  border-color: rgb(216, 216, 216);
}

.form-check-label {
  margin-left: 0.5em;
}

@media (max-width: 767px) {
  .col-sm-8 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* PAGINA SETTINGS*/

.bodySettings {
  background-color: #f3f3f3;
  color: #141414;
}

.bodySettings nav {
  background-color: #141414;
  color: #f3f3f3;
}

.settingsMain {
  width: 80%;
  margin: auto;
  padding-top: 2.5em;
}

.blocco {
  display: flex;
  justify-content: space-between;
}
